# --- Python cache / bytecode ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual environments / env files ---
.venv/
venv/
.env

# --- IDEs / OS files ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Jupyter ---
.ipynb_checkpoints/

# --- Simulation outputs ---
sims/**/*
codes/sims/**/*
results/**/*
codes/results/**/*
codes/figures/**/*
codes/pest_workers/**/*
codes/pest/**/*
codes/master_run/**/*
codes/master_run_level_1/**/*
codes/master_run_level_2/**/*
codes/old_pest_runs/**/*

# --- Binaries / data artifacts ---
*.exe
*.npy
*.cbc

# --- Misc ---