# python cores
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# ides and os
.vscode/
.idea/
.DS_Store
Thumbs.db

# simulations
sims/**/*

# binaries
*.exe

# results
results/**/*

# misc
.ipynb_checkpoints/
